<div class="container">
  <br>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Input</th>
        <th scope="col">Pipe</th>
        <th scope="col">Result</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{ nombre }}</td>
        <td>uppercase</td>
        <td>{{ nombre | uppercase}}</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>{{ nombre }}</td>
        <td>lowercase</td>
        <td>{{ nombre | lowercase }}</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>{{ nombre }}</td>
        <td>slice:3</td>
        <td>{{ nombre | slice:3 }}</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>{{ nombre }}</td>
        <td>slice:0:3</td>
        <td>{{ nombre | slice:0:3 }}</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>{{ arreglo }}</td>
        <td>slice:1:5</td>
        <td>{{ arreglo | slice:1:5 }}</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>{{ pi }}</td>
        <td>number:'3.1-7'</td>
        <td>{{ pi | number:'3.1-7' }}</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>{{ a }}</td>
        <td>percent</td>
        <td>{{ a | percent:'2.2-2' }}</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>{{ salario }}</td>
        <td>currency</td>
        <td>{{ salario | currency }}</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>{{ salario }}</td>
        <td>currency:'EUR'</td>
        <td>{{ salario | currency:'EUR' }}</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>{{ salario }}</td>
        <td>currency:'EUR':boolean</td>
        <td>{{ salario | currency:'EUR':false }}</td>
      </tr>
      <tr>
        <th scope="row">12</th>
        <td>{{ salario }}</td>
        <td>currency:'EUR':boolean:4.0-0</td>
        <td>{{ salario | currency:'EUR':false:'4.0-0' }}</td>
      </tr>
      <tr>
        <th scope="row">13</th>
        <td>{{ salario }}</td>
        <td>number:'.2-2'</td>
        <td>{{ salario | number:'.2-2' }}</td>
      </tr>
      <tr>
        <th scope="row">14</th>
        <td>{{ valorDePromesa }}</td>
        <td>Async</td>
        <td>{{ valorDePromesa | async }}</td>
      </tr>
      <tr>
        <th scope="row">15</th>
        <td>{{ fecha }}</td>
        <td>date</td>
        <td>{{ fecha | date }}</td>
      </tr>
      <tr>
        <th scope="row">16</th>
        <td>{{ fecha }}</td>
        <td>date:'medium'</td>
        <td>{{ fecha | date:'medium' }}</td>
      </tr>
      <tr>
        <th scope="row">17</th>
        <td>{{ fecha }}</td>
        <td>date:'MMMM - dd'</td>
        <td>{{ fecha | date:'MMMM - dd' }}</td>
      </tr>
      <tr>
        <th scope="row">18</th>
        <td>{{ nombre2 }}</td>
        <td>capitalizado</td>
        <td>{{ nombre2 | capitalizado }}</td>
      </tr>
      <tr>
        <th scope="row">19</th>
        <td>{{ nombre2 }}</td>
        <td>capitalizado</td>
        <td>{{ nombre2 | capitalizado:false }}</td>
      </tr>
      <tr>
        <th scope="row">20</th>
        <td>{{ title }}</td>
        <td>contraseña:{{ activar }} <button (click)= "activar = !activar" type="button" name="button">Mostrar/Ocultar</button></td>
        <td>{{ title | contrasena:activar }}</td>
      </tr>
    </tbody>
  </table>

  <h4>Slice</h4>
  <ul>
    <li *ngFor="let item of arreglo | slice:5:20">{{ item }}</li>
  </ul>

  <h4>JSON</h4>
  <pre>
    {{ heroe | json }}
  </pre>

  <h4>Youtube <small>video</small></h4>
  <hr>
  <pre>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/JISQMhtXiSM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </pre>

  <h4>Youtube <small>video</small></h4>
  <hr>
  <pre>
  <iframe width="560" height="315" [src]="video2 | domseguro:'https://www.youtube.com/embed/'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </pre>
</div>
